; note [Watson (2023). Practical AI with Clojure](:/028e98cdc99f4f249ea8eee7b8fbfb18)
[:div
 {}
 [:p
  {}
  "free "
  [:a {:href "https://leanpub.com/clojureai", :title nil} "online"]]
 [:p
  {}
  [:img
   {:src ":/1b6a787f16f2466aa566b99c11005f0b", :alt nil, :title nil}]]
 [:dl
  {}
  [:dt {} "[📖 Book](:/f37effc03aa042399db702484c6cda61)\n"]
  [:dd {} [:p {} "Watson (2023)."]]
  [:dd {} [:p {} "Practical AI with Clojure"]]
  [:dt {} "[🗯️ title](:/8fe22e1c91c740b6a836ba98e19f1258)\n"]
  [:dd
   {}
   [:p {} "Practical Artificial Intelligence Programming"]
   [:pre {} [:code {:class "language-"} "some code"]]
   [:p {} "With Clojure"]]
  [:dt {} "[✒️ author](:/19a0bb1074c9477b8204fb0d8e4baef5)\n"]
  [:dd {} [:p {} "Mark Watson"]]]]